{% extends "base.html"%}
{% block title %}テスト結果一覧{% endblock %}

{% block content %}
<div class="container my-4 py-3 bg-white rounded-3">
  <h1 class="fw-bold">テスト</h1>
  <hr>
  <div class="container my-4 py-3 bg-light">
    <h3 class="">定期テスト</h2>
  </div>
  <hr>
  <div class="container my-4 py-3 bg-light">
    <h3 class="">模試</h2>
  </div>
  <hr>
  <ul class="list-group list-group-flush">
    {% for record in records_list %}
    <li class="list-group-item">{{record.name}} - {{record.date|date:"n月j日 (D)"}} 平均点<a href="{% url 'records:detail' record.id %}" class="btn btn-outline-primary">></a></li>
    {% endfor %}
  </ul>

</div>

{% endblock %}
