{% extends "base.html" %}

{% block title %}日報の作成{% endblock%}

{% block content %}
<div class="container my-4 py-3 bg-light rounded-3">
  <h1 class="display-6">日報の作成</h1>

  <form action="{% url 'diaries:create' %}" method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}
    {% for item in form %}
    <div class="form-group mb-3">
      
      <!--講師の選択フィールドの未表示-->
      {% if item.label == "Teacher id" %}
      <div style="display: none;">
        <label class="mb-1">{{ item.label }}</label>
        {{ item }}
      </div>
      <!--そのほかの入力フィールド-->
      {% else %}
      <label class="mb-1">{{ item.label }}</label>
      {{ item }}
      {% endif %}
      
      {% if field.help_text %}
      <span class="helptext">{{ field.help_text }}</span>
      {% endif %}
      {{ field.errors }}
    </div>
    {% endfor %}

    <div class="text-end">
      <button type="submit" class="btn btn-primary">作成</button>
    </div>
  </form>
</div>
{% endblock %}
