{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>日誌の削除</title>
</head>

<body>
    <p>範囲: {{ diary.range }}</p>
    <p>宿題: {{ diary.homework }}</p>
    <p>日付: {{ diary.date }}</p>
    <p>内容: {{ diary.content }}</p>
    <p>講師ID: {{ diary.teacher_id }}</p>
    <p>生徒ID: {{ diary.student_id }}</p>
    <p>備考: {{ diary.remark }}</p>
    <hr>
    <form action="{% url 'diaries:delete' id %}" method="post">
        {% csrf_token %}
        <tr>
            <th>
            <td>
                <input type="submit" value="削除" class="btn btn-primary">
            </td>
            </th>
        </tr>
    </form>
</body>

</html>