{% extends "base.html"%}
{% block title %}日報の削除{% endblock %}

{% block content %}
    <p>範囲: {{ diary.range }}</p>
    <p>宿題: {{ diary.homework }}</p>
    <p>日付: {{ diary.date }}</p>
    <p>内容: {{ diary.content }}</p>
    <p>講師ID: {{ diary.teacher_id }}</p>
    <p>生徒ID: {{ diary.student_id }}</p>
    <p>備考: {{ diary.remark }}</p>
    <hr>
    <form action="{% url 'diaries:delete' id %}" method="post">
        {% csrf_token %}
        <tr>
            <th>
            <td>
                <input type="submit" value="削除" class="btn btn-primary">
            </td>
            </th>
        </tr>
    </form>
{% endblock %}
