{% extends "base.html" %}

{% block title %}
{{ diary.date|date:"n月j日 (D)" }} の日報
{% endblock %}

{% block content %}
<div class="container my-4 py-3 bg-light rounded-3">
	<div class="card">
		<!--ヘッダ-->
		<div class="card-header">
			<h4>
				{{ diary.date|date:"n月j日 (D)" }}
				<span class="badge bg-{{diary.subject.color}}"> {{ diary.subject }}</span>
			</h4>
			<!--編集・削除ボタン (右寄せ)-->
			<div class="d-flex justify-content-end">
				<!--横一列-->
				<div class="row g-2">
					<!--編集-->
					<div class="col-auto">
						<a class="btn btn-outline-primary btn-sm" href="{% url 'diaries:edit' diary.id %}"
							role="button">
							<i class="fa-solid fa-pen"></i>
						</a>
					</div>
					<!--削除-->
					<div class="col-auto">
						<form method="post" action="{% url 'diaries:delete' diary.id %}">
							{% csrf_token %}
							<button class="btn btn-outline-danger btn-sm" type="submit"
								onclick='return confirm("日報を削除してよろしいですか？");'>
								<i class="fa-solid fa-trash"></i>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!--中身-->
		<div class="card-body">
			<h5>
				<p>
					<span class="badge bg-secondary">生徒</span>
					{{ diary.student }}
				</p>
				<p>
					<span class="badge bg-secondary">講師</span>
					{{ diary.teacher }}
				</p>
			</h5>
			<hr>

			<p class="fs-6 text-secondary">内容</p>
			<p class="fs-6">{{ diary.content }}</p>
			<hr>

			<p class="fs-6 text-secondary">担当範囲</p>
			<p class="fs-6">{{ diary.range }}</p>
			<hr>

			<p class="fs-6 text-secondary">宿題</p>
			<p class="fs-6">{{ diary.homework }}</p>
			<hr>

			<p class="fs-6 text-secondary">備考</p>
			<p class="fs-6">{{ diary.remark }}</p>
		</div>
	</div>
</div>
{% endblock %}
