{% extends "base.html"%}
{% block title %}ダッシュボード{% endblock %}

{% block content %}
<div class="px-4 my-4">
  <div class="row">
    <div class="col-3">

      <div class="container bg-light rounded-3 py-3 shadow-lg">
        <div class="container my-3 px-3">
          {% if user.profile_image %}
          <img src="{{ user.profile_image.url }}" class="img-fluid rounded">
          {% else %}
          <img src="../../../media/default/DefaultImage.png" class="img-fluid rounded">
          {% endif %}
        </div>

        <div class="container">
          <h2 class="fw-bold">
            {% if user.job == "student" %}
            <i class="fas fa-user" style="color: #6C757D;"></i>
            {% else %}
            <i class="fas fa-user-tie" style="color: #6C757D;"></i>
            {% endif %}
            <span>{{ user.name }}</span>
          </h2>
        </div>

        <div class="container">
          <p>{{ user.bio }}</p>
        </div>
        <hr>

        <div class="container my-3">
          <i class="fas fa-book" style="color: #6c757d;"></i>
          {% if user.job == "student" %}
          <span class="fs-6 text-secondary">受講科目</span><br>
          {% else %}
          <span class="fs-6 text-secondary">担当教科</span><br>
          {% endif %}

          {% for subjects in user.subjects.all %}
          <span class="badge bg-{{ subjects.color }}">{{ subjects }}</span>
          {% endfor %}
        </div>

        <div class="container my-3">
          <i class="fas fa-school" style="color: #6C757D;"></i>
          <span>{{ user.school }}</span>
        </div>

        <div class="container my-3">
          <a href="{% url 'users:edit' user.id %}" class="btn btn-outline-secondary">
            <i class="fas fa-wrench"></i>
            <span>プロフィール編集</span>
          </a>
        </div>
        <hr>

        <div class="container my-3">
          バッジとか置く
        </div>
      </div>
    </div>

    <div class="col-9">
      <div class="container bg-light rounded-3 py-3 shadow-lg">
        <h2 class="fw-bold">
          <i class="fas fa-bullhorn" style="color: #6C757D;"></i>
          <span>{{ user.juku }}からのお知らせ</span>
        </h2>
        <div class="alert alert-success" role="alert">
          {{ juku.news }}
        </div>
      </div>

      <!--講師ユーザの場合のみ表示-->
      {% if user.job == "teacher" %}
      <div class="container my-4 py-3 bg-light rounded-3">
        <h2 class="fw-bold">
          <a class="text-decoration-none text-success" href="{% url 'users:index' %}">
            <i class="fas fa-users"></i>
            <span>{{ user.juku }}の生徒</span>
          </a>
        </h2>
        {% include "users/list.html" %}
      </div>
      {% endif %}

      <div class="container my-4 py-3 bg-light rounded-3 shadow-lg">
        <h2 class="fw-bold">
          <a class="text-decoration-none text-success" href="{% url 'diaries:index' %}">
            <i class="fas fa-book-open"></i>
            <span>日報</span>
          </a>
        </h2>
        {% include "diaries/list.html" %}
      </div>

      <!--生徒の場合は出席ボタン-->
      {% if user.job == "student" %}
      {% include "lessons/create_btn.html" %}
      <!--講師の場合は日報作成ボタン-->
      {% else %}
      {% include "diaries/create_btn.html" %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}