{% extends "base.html"%}
{% block title %}ダッシュボード{% endblock %}

{% block content %}
  <div class="container my-4 py-3 bg-light rounded-3">
    <h3 class="fw-bold">お知らせ</h3>
    <div class="alert alert-success" role="alert">
      {{juku.news}}
    </div>
  </div>
  <div class="container my-4 py-3 bg-light rounded-3">
    <h3 class="fw-bold">日報</h3>
    <a class="btn btn-primary " href="{% url 'diaries:index' %}">日報一覧</a>
  {% include "diaries/list.html" %}
  </div>
  <div class="container my-4 py-3 bg-light rounded-3">
    <h3 class="fw-bold">生徒</h3>
    <a class="btn btn-primary " href="{% url 'users:index' %}">生徒一覧</a>
  {% include "users/list.html" %}
  </div>
  {% include "diaries/create_btn.html" %}
{% endblock %}
