<!DOCTYPE html>
{% load django_bootstrap5 %}
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>
    {% if users_list %}
      {% bootstrap_button button_type="submit" content="Register" size="lg" %}

      <ul class="list-group">
        {% for user in users_list %}
        <li class="list-group-item">
          <h3><a href="/users/{{user.id}}/">{{user.name}}</a></h3>
          <p>{{user.school}}</p>
          <p>{{user.birth}}</p>
        </li>
        {% endfor %}
      </ul>

    {% else %}
      <p>No Users</p>
    {% endif %}
  </body>
</html>

