{% extends "base.html"%}
{% block title %}テスト結果一覧{% endblock %}

{% block content %}
  {% if users_list %}
    {% for user in users_list %}
      <div class="card" style="width: 18rem;">
      <div class="card-header">
        担当生徒
      </div>
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="/users/{{user.id}}" class="btn btn-primary">生徒詳細</a>
      </div>
    </div>
  {% endfor %}

{% else %}
  <p>No Users</p>
{% endif %}

{% endblock%}
