{% extends "base.html"%}
{% block title %}ログイン画面{% endblock %}

{% block content %}
<div class="container mx-5">
    <h1 class="text-white text-center">
        ログインする
    </h1>
</div>

<div class="card mx-5 my-3">
    <form action="" method="POST">
        {% csrf_token %}
        {% for item in form %}
        <div class="form-group mx-5 ">
            <label for="{{item.id_for_label}}" class="mt-5">{{item.label}}</label>
            <input type="{{item.field.widget.input_type}}" class="form-control mb-2 my-2" name="{{item.name}}"
                id="{{item.id_for_label}}" aria-describedby="passwordHelpInline">
        </div>
        {% endfor %}
        <div class="text-end mx-5">
            <button type="submit" class="submit btn btn-primary my-5">Login</button>
        </div>
    </form>
</div>
</div>

{% endblock %}